<ul class="breadcrumb">
    <li>Home</li>
</ul>
<div class="list-group">
    <a href="#/cards" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right right-arrow"></span>
        <h4 class="list-group-item-heading">Cards</h4>
        <p class="list-group-item-text">Used by members to access resources</p>
    </a>
    <a href="#/resources" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right right-arrow"></span>
        <h4 class="list-group-item-heading">Resources</h4>
        <p class="list-group-item-text">Items that members can access</p>
    </a>
    <a href="#/logs" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right right-arrow"></span>
        <h4 class="list-group-item-heading">Logs</h4>
        <p class="list-group-item-text">Records of access attempts</p>
    </a>
    <a href="#/users" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right right-arrow"></span>
        <h4 class="list-group-item-heading">Users</h4>
        <p class="list-group-item-text">People that can configure this system</p>
    </a>
</div>
