<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li>Resources</li>
</ul>

<h3>Resources</h3>

<p>
    <span ng-show="vm.isAdmin()"><a href="#/addresource/"><span
        class="glyphicon glyphicon-plus"></span>
        Add new resource</a>
        &nbsp;&nbsp;&nbsp;
    </span>
    <a href="" ng-click="vm.refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
</p>

<h4 ng-show="vm.loading">Loading...</h4>
<h4 ng-show="vm.errorLoading" class="alert alert-danger">Unable to load resources at this time.</h4>

<table class="table" ng-show="vm.resources.length && !vm.loading && !vm.errorLoading">
    <tr>
        <th>Name</th>
        <th ng-show="vm.isAdmin()"></th>
        <th ng-show="vm.isAdmin()"></th>
    </tr>
    <tr ng-repeat="resource in vm.resources">
        <td>{{ resource.name }}</td>
        <td ng-show="vm.isAdmin()">
            <a ng-href="#/editresource/{{ resource._id }}"><span
            class="glyphicon glyphicon-pencil"></span>
            Edit</a>
        </td>
        <td ng-show="vm.isAdmin()">
            <a href="" ng-click='vm.removeResource(resource._id, resource._etag)'><span
                class="glyphicon glyphicon-remove"></span>
            Remove</a>
        </td>
    </tr>
</table>
