<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/users">Users</a></li>
    <li>Add User</li>
</ul>
<form name="addForm" ng-submit="vm.addUser()">
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" id="username" ng-model="vm.username" class="form-control" ng-pattern="/^[\w ]+$/" required>
        <div class="alert-danger" ng-show="addForm.username.$dirty && addForm.username.$invalid">Invalid username!</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" id="password" type="password" class="form-control" ng-model="vm.password" required>
        <div class="alert-danger" ng-show="addForm.password.$dirty && addForm.password.$invalid">Password is required!</div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input name="confirmPassword" id="confirmPassword" type="password" class="form-control" ng-model="vm.confirmPassword" required>
        <div class="alert-danger" ng-show="addForm.confirmPassword.$dirty && (vm.password != vm.confirmPassword)">Passwords don't match!</div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input id="admin" type="checkbox" ng-model="vm.isAdmin">Administrator
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="addForm.$invalid || vm.adding || vm.password != vm.confirmPassword">Add</button>
    <a href="#/users">Cancel</a>
</form>