<h2>Add User</h2>
<hr>
<ul>
    <li><a href="#/">Home</a></li>
    <li><a href="#/users">Users</a></li>
</ul>
<hr>
<form name="addForm" ng-submit="vm.addUser()">
    <p>
        <label for="username">Username</label><br>
        <input name="username" id="username" ng-model="vm.username" ng-pattern="/^[\w ]+$/" required>
        <span ng-show="addForm.username.$dirty && addForm.username.$invalid">Invalid username!</span>
    </p>
    <p>
        <label for="password">Password</label><br>
        <input name="password" id="password" type="password" ng-model="vm.password" required>
    </p>
    <p>
        <label for="confirmPassword">Confirm Password</label><br>
        <input name="confirmPassword" id="confirmPassword" type="password" ng-model="vm.confirmPassword" required>
        <span ng-show="addForm.confirmPassword.$dirty && (vm.password != vm.confirmPassword)">Passwords don't match!</span>
    </p>
    <p>
        <input id="admin" type="checkbox" ng-model="vm.isAdmin">
        <label for="admin">Administrator</label>
    </p>
    <p>
        <button type="submit" ng-disabled="addForm.$invalid || vm.adding || vm.password != vm.confirmPassword">Add</button>
        <a href="#/users">Cancel</a>
    </p>
</form>