<h2>Cards</h2>
<hr>
<ul>
    <li><a href="#/">Home</a></li>
</ul>
<hr>

<table border="1" ng-show="vm.cards.length">
    <tr>
        <th>UUID</th>
        <th>Member</th>
        <th>Resources</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    <tr ng-repeat="card in vm.cards">
        <td>{{ card.uuid }}</td>
        <td>{{ card.member }}</td>
        <td>
            <div ng-repeat="resource in card.resources">
                {{ vm.resourceNames[resource] }}
            </div>
        </td>
        <td><a ng-href="#/editcard/{{ card._id }}">Edit</a></td>
        <td><a href="" ng-click='vm.removeCard(card._id, card._etag)'>Remove</a></td>
    </tr>
</table>
