<h2>Change User Password</h2>
<hr>
<ul>
    <li><a href="#/">Home</a></li>
    <li><a href="#/users">Users</a></li>
</ul>
<hr>
<h3>Change password for {{ vm.username }}</h3>
<form name="changeForm" ng-submit="vm.changePassword()">
    <p>
        <label>New Password</label><br>
        <input name="password" id="password" type="password" ng-model="vm.password" required>
    </p>
    <p>
        <label>Confirm Password</label><br>
        <input name="confirmPassword" id="confirmPassword" type="password" ng-model="vm.confirmPassword" required>
        <span ng-show="changeForm.confirmPassword.$dirty && (vm.password != vm.confirmPassword)">Passwords don't match!</span>
    </p>
    <p>
        <button type="submit"
                ng-disabled="changeForm.$invalid || vm.saving || vm.password != vm.confirmPassword">Change</button>
        <a href="#/users">Cancel</a>
    </p>
</form>