<h2>Edit User</h2>
<hr>
<ul>
    <li><a href="#/">Home</a></li>
    <li><a href="#/users">Users</a></li>
</ul>
<hr>
<form name="editForm" ng-submit="vm.saveUser()">
    <p>
        <label for="username">Username</label><br>
        <input name="username" id="username" ng-model="vm.username" ng-pattern="/^[\w ]+$/" required>
        <span ng-show="editForm.username.$invalid">Invalid username!</span>
    </p>
    <p>
        <input id="admin" type="checkbox" ng-model="vm.isAdmin">
        <label for="admin">Administrator</label>
    </p>
    <p>
        <button type="submit" ng-disabled="editForm.$pristine || editForm.$invalid || vm.saving">Save</button> <a href="#/users">Cancel</a>
    </p>
</form>