<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/cards">Cards</a></li>
    <li>Edit Card</li>
</ul>

<h3>Edit Card</h3>

<form ng-submit="vm.saveCard()">
    <div class="form-group">
        <label for="uuid">UUID</label>
        <input id="uuid" class="form-control" ng-value="vm.uuid.substring(5)" readonly>
    </div>
    <div class="form-group">
        <label for="member">Member</label>
        <input name="member" id="member" class="form-control" ng-model="vm.member"><br>
    </div>
    <div class="form-group">
        <label ng-show="vm.resoures.length">Authorized Resources</label>
        <div class="checkbox" ng-repeat="resource in vm.resources">
            <label>
                <input type="checkbox" ng-model="resource.isAuthorized"> {{ resource.name }}
            </label>
        </div>
    </div>
    <button class="btn btn-default" ng-disabled="vm.saving">Save</button>
    <a href="#/cards">Cancel</a>
</form>
