<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/resources">Resources</a></li>
    <li>Edit Resource</li>
</ul>
<form name="editForm" ng-submit="vm.saveResource()">
    <div class="form-group">
        <label for="name">Name</label>
        <input name="name" id="name" ng-model="vm.name" class="form-control" ng-pattern="/^[\w ]+$/" required>
        <div ng-show="editForm.name.$invalid" class="alert-danger">Invalid resource name</div>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="editForm.$invalid || vm.saving">Save</button>
    <a href="#/resources">Cancel</a>
    </p>
</form>