<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li>Logs</li>
</ul>

<table class="table" ng-show="vm.logs.length">
    <tr>
        <th>Date</th>
        <th>UUID</th>
        <th>Member</th>
        <th>Resource</th>
        <th>Status</th>
    </tr>
    <tr ng-repeat="log in vm.logs" class="{{ log.granted ? '' : 'warning' }}">
        <td>{{ log.date }} </td>
        <td>{{ log.uuid.substring(5) }}</td>
        <td>{{ log.member }}</td>
        <td>{{ log.resource }}</td>
        <td>{{ log.granted ? 'Success' : log.reason }}</td>
    </tr>
</table>
