<h2>Logs</h2>
<hr>
<ul>
    <li><a href="#/">Home</a></li>
</ul>
<hr>

<table border="1" ng-show="vm.logs.length">
    <tr>
        <th>Date</th>
        <th>UUID</th>
        <th>Member</th>
        <th>Resource</th>
        <th>Granted?</th>
        <th>Reason</th>
    </tr>
    <tr ng-repeat="log in vm.logs">
        <td>{{ log.date }} </td>
        <td>{{ log.uuid.substring(5) }}</td>
        <td>{{ log.member }}</td>
        <td>{{ log.resource }}</td>
        <td>{{ log.granted ? 'Yes' : 'No' }}</td>
        <td>{{ log.reason }}</td>
    </tr>
</table>
